<section class="edit-post">
  <label>TITLE</label>
  <input type="text" class="form-control input-lg edit-title" ng-model="title">

  <label>CONTENT</label>
  <textarea class="form-control edit-content" ng-model="content"></textarea>

  <label>VALIDATION</label>
  <div class="input-group input-group-lg">
    <input type="password" class="form-control" ng-model="password" placeholder="Password">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" ng-click="submit()">SUBMIT</button>
    </span>
  </div>
</section>

<article class="post" visible-if="loaded">
  <h1 class="title">{{ title }}</h1>
  <div class="date">{{ date | date }}</div>
  <div ng-bind-html="render(content)"></div>
</article>
