<div id='home' class="row">

  <div ng-repeat="row in posts.new">
    <article class="col-sm-4 post-tile" ng-repeat="post in row">
      <div>
        <a ng-href="/post/{{ post._id }}">
          <div class="post-tile-image" ng-style="{ 'background-image': 'url(data/thumbnail/' + post.image + ')' }"></div>
        </a>
        <div class="post-tile-text">
          <div class="info">
            <div class="date">{{ post.date | date }}</div>
            <div class="disqus-comment-count" data-disqus-identifier="{{ post._id }}">&nbsp;</div>
          </div>
          <div class="title">{{ post.title }}</div>
        </div>
      </div>
    </article>
  </div>

  <h1>Archives from my old blog</h1>

  <div ng-repeat="row in posts.old">
    <article class="col-sm-4 post-tile" ng-repeat="post in row">
      <div>
        <a ng-href="/post/{{ post._id }}">
          <div class="post-tile-image" ng-style="{ 'background-image': 'url(data/thumbnail/' + post.image + ')' }"></div>
        </a>
        <a ng-href="/post/{{ post._id }}"></a>
        <div class="post-tile-text">
          <div class="info">
            <div class="date">{{ post.date | date }}</div>
            <div class="disqus-comment-count" data-disqus-identifier="{{ post._id }}">&nbsp;</div>
          </div>
          <div class="title">{{ post.title }}</div>
        </div>
      </div>
    </article>
  </div>

</div>
